<div class="feedback-rules">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Rules <em style="font-size: smaller;" class="text-muted">(place the cursor over each rule to see the full text)</em></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="checkbox">
                        <label title="No user or project is more important than the safety of the users, or the laboratory itself.">
                            <input type="checkbox" name="SelectedRules" value="1" />
                            The highest priority is safety
                        </label>
                    </div>
                    <div class="checkbox">
                        <label title="No user shall work with chemicals in the laboratory without another user present.">
                            <input type="checkbox" name="SelectedRules" value="2" />
                            Do not work alone with chemicals
                        </label>
                    </div>
                    <div class="checkbox">
                        <label title="Every user of the laboratory will utilize the proper Personal Protective Equipment (PPE) when operating equipment or processing wafers with Hazardous chemicals.">
                            <input type="checkbox" name="SelectedRules" value="3" />
                            Use proper PPE
                        </label>
                    </div>
                    <div class="checkbox">
                        <label title="Safety glasses SHALL be worn at ALL times.">
                            <input type="checkbox" name="SelectedRules" value="4" />
                            Wear safety glasses
                        </label>
                    </div>
                    <div class="checkbox">
                        <label title="No chemical or process may be left unattended without proper labeling and user identification.">
                            <input type="checkbox" name="SelectedRules" value="5" />
                            No unattended chemicals or processes
                        </label>
                    </div>
                    <div class="checkbox">
                        <label title="No chemical or process may be left without proper labeling and user identification.">
                            <input type="checkbox" name="SelectedRules" value="6" />
                            Properly identify all chemicals or processes
                        </label>
                    </div>
                    <div class="checkbox">
                        <label title="Any workspace shall be returned to a neat and clean status prior to a user leaving that workspace.">
                            <input type="checkbox" name="SelectedRules" value="7" />
                            Return workspace to clean status after use
                        </label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label title="If you do not know the answer to a question, the individual shall find that answer prior to proceeding. DO NOT assume, DO NOT guess. Know the answer before you proceed.">
                            <input type="checkbox" name="SelectedRules" value="8" />
                            Do not assume, do not guess
                        </label>
                    </div>
                    <div class="checkbox">
                        <label title="No user will operate ANY equipment within the laboratory without having been properly trained and checked-out on that equipment.">
                            <input type="checkbox" name="SelectedRules" value="9" />
                            Improper equipment operation
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="SelectedRules" value="10" />
                            Community needs take precedence over individual needs
                        </label>
                    </div>
                    <div class="checkbox">
                        <label title="Every user of the laboratory will respect the laboratory, its equipment and every other user.">
                            <input type="checkbox" name="SelectedRules" value="11" />
                            Respect the lab, its equipment and everyone else
                        </label>
                    </div>
                    <div class="checkbox">
                        <label title="Any user assigned to a laboratory task shall be responsible for the completion of that task. Example: Lab Clean (see policy on Lab clean).">
                            <input type="checkbox" name="SelectedRules" value="12" />
                            Be responsible for assigned task (e.g. Lab Clean)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label title="If any individual cannot resolve an issue relating to the laboratory in a professional, courteous and respectful manner that issue will be brought to the attention of the Laboratory Manager for proper and expeditious resolution.">
                            <input type="checkbox" name="SelectedRules" value="13" />
                            Escalate issues to lab manager if necessary
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>