@{
    ViewBag.Title = "Dispute";
}

<div class="row">
    <div class="col-md-2">
        @Html.Partial("_HistorySubmenuPartial")
    </div>
    <div class="col-md-10">
        <div style="padding-left: 20px; border-left: 1px solid #ccc; min-height: 400px; font-size: larger;">
            <p>Please contact <a href="mailto:lnf-feedback@umich.edu">LNF-feedback@umich.edu</a> for any question or dispute about feedback entries.</p>
            <p>If we do not hear from you, feedback entries will be confirmed. Note that feedback history can lead to disciplinary action.</p>
        </div>
    </div>
</div>

